DEBUG=true
ENVIRONMENT=development

DB_DRIVER=postgres
DB_SOURCE=postgresql://postgres:postgres@localhost:5432/simplebank?sslmode=disable
DB_MIGRATION_URL=file://db/migration

HTTP_SERVER_ADDRESS=localhost:8000
GRPC_SERVER_ADDRESS=localhost:9090
GRPC_GATEWAY_SERVER_ADDRESS=localhost:8080

# run `make randhex64 head=32` to generate token of 32 length
TOKEN_SYMMETRIC_KEY=

ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=24h

REDIS_ADDRESS=localhost:6379

EMAIL_SENDER_NAME="Simple Bank"
EMAIL_SENDER_ADDRESS=
EMAIL_SENDER_PASSWORD=
