DEBUG=
DB_DRIVER=
DB_SOURCE=
MIGRATION_URL=
HTTP_SERVER_ADDRESS=
GRPC_SERVER_ADDRESS=
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=
REDIS_ADDRESS=
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=
EMAIL_SENDER_PASSWORD=
